html {
    scroll-behavior: smooth;
}
.Navbar{
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
 }
  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }
.logo{
    display: initial;
    width: 180px;
    margin-top: 15px;
    font-size: xx-large;
    font-weight: 300;
    color: #5C5D5D;
    margin-left: 3%;
}
.label{
    margin-left: 15%
}
.label2{
    margin-left: 15%
}
.screen{
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}
.dividerhr{
    margin-left: 15%;
    margin-right: 15%;
}
.screenleft{
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}
.screenright{
    margin-right: 17.5%;
    width: 243px;
}
.closebtn{
    left: 70%
}

@media screen and (max-width: 1600px) {
    .label{
        margin-left: 11.25%
    }
    .label2{
        margin-left: 11.25%
    }
    .screen{
        margin-left: 11.25%;
        margin-right: 11.25%
    }
    .dividerhr{
        margin-left: 11.25%;
        margin-right: 11.25%
    }
    .screenleft{
        margin-left: 11.25%
    }
    .screenright{
        margin-right: 13.125%
    }
    .closebtn{
        left: 75%
    }
}
@media screen and (max-width: 1200px) {
    .label{
        margin-left: 8%
    }
    .label2{
        margin-left: 8%
    }
    .screen{
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .dividerhr{
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .screenleft{
        margin-left: 7.5%;
    }
    .screenright{
        margin-right: 8.75%;
    }
    .closebtn{
        left: 82%
    }
}
@media screen and (max-width: 1000px) {
    .label{
        margin-left: 3.75%
    }
    .label2{
        margin-left: 3.75%
    }
    .screen{
        margin-left: 3.75%;
        margin-right: 3.75%;
    }
    .dividerhr{
        margin-left: 3.75%;
        margin-right: 3.75%;
    }
    .screenleft{
        margin-left: 3.75%;
    }
    .screenright{
        margin-right: 4.375%;
    }
    .closebtn{
        left: 88%
    }
    .modal-dialog {
        max-width: 750px !important;
      }
}
@media screen and (max-width: 790px) {
    .screen{
        margin-left: 0%;
        margin-right: 0%;
    }
    .dividerhr{
        margin-left: 0%;
        margin-right: 0%;
    }
    .screenleft{
        margin-left: 0%;
    }
    .screenright{
        margin-right: 0%;
    }
}
